@font-face {
  font-family: 'beat';
  src: url('../font/beat.ttf');
}
@font-face {
  font-family: 'cour';
  src: url('../font/cour.ttf');
}
@font-face {
  font-family: 'courb';
  src: url('../font/courbd.ttf');
}

header {
  a:link{ outline-style: none; }
  font-family: 'beat', 'Georgia', serif;
  font-size: 8vw;
  color: #4ef4cf;
  a{
    text-decoration: none;
    color: #4ef4cf;
  }

  .navigation-closed {
    z-index: 100;
    position: fixed;
    top: 50px;
    left: 60px;
    #nav-button-image {
      width: 50px;
    }
  }

  .navigation-open {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(154, 101, 101, 0.95);
    padding-top: 50px;
    padding-left: 60px;
    #nav-button-image {
      width: 50px;
    }
  }

  #nav-button {

    .close {
      background-image: url("../img/navigation.png");
      height: 35px;
      width: 50px;
      background-size: cover;
    }
    .open {

      background-image: url("../img/cross.png");
      height: 50px;
      width: 50px;
      margin-top: -7px;
      background-size: cover;
    }
  }
  .links {
    display: block;
    margin-top: -8vh;
    .hover-links {
      a:hover {
        text-decoration: line-through;

      }
    }
  }
  .links-closed {
    display: none;
  }
  li{
    list-style-type: none;
  }

}

  #slide-1 {
    .bg {
      background-position: center center;
      background-image: url("../img/home.png");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      height: 100vh;
      width: 100%;
      z-index: 1;
    }
    .components {
      position: fixed;
      .logo {
        width: 24vw;
        margin-left: 38vw;
        margin-top: 33vh;
      }

      .sticker {
        position: fixed;
        bottom: 90px;
        //margin-top: 8vh;
        margin-left: 46vw;
        img {
          width: 8vw;
        }
      }

      .arrow {
        margin-left: 48vw;
        position: fixed;
        bottom: 10px;
      }
      img {
        width: 4vw;
      }
    }
  }

  #slide-2 {
    position: relative;
    background-position: center center;
    background: red;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 105vh;
    width: 100%;
    z-index: 2;
  }

#slide-3 {
  color: #f26d7d;
  font-family: 'courb';
  font-size: 34px;
    position: relative;
    background-position: center center;
    background-image: url("../img/bg3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: 1;
  .container{
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 15vh;
    text-align: center;

    #scenario-sticker{
      margin-top: 18vh;
    }
    .text-small{
      font-size: 22px;
    }
  }
  }




  @media screen and (max-width : 480px){}


@media screen and (max-width : 1140px){
  .logo{
    width: 36vw !important;
    margin-left: 32vw !important;
  }
  .sticker {
    margin-left: 42vw !important;
    img {
      width: 16vw !important;
    }
  }
  .arrow {
    margin-left: 46vw !important;
    img {
      width: 8vw !important;
    }
  }
}
@media screen and (max-height : 600px){
  .sticker {
    display: none;
  }
  .arrow {
    display: none;
  }
}
