.navigation {
  z-index: 100;
  position: fixed;
  top: 50px;
  left: 60px; }
  .navigation img {
    width: 50px; }

#slide-1 {
  background-position: center center;
  background-image: url("../img/home.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 1; }
  #slide-1 .components {
    position: fixed; }
    #slide-1 .components .logo {
      width: 24vw;
      margin-left: 38vw;
      margin-top: 33vh; }
    #slide-1 .components .sticker {
      margin-top: 100px;
      margin-left: 45vw; }
      #slide-1 .components .sticker img {
        width: 10vw; }
    #slide-1 .components .arrow {
      margin-left: 48vw; }
    #slide-1 .components img {
      width: 4vw; }

#slide-2 {
  position: relative;
  background-position: center center;
  background: red;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 2; }
