.navigation{
  z-index: 100;
  position: fixed;
  top: 50px;
  left: 60px;
  img{
    width:  50px;
  }
}

#slide-1 {
  background-position: center center;
  background-image: url("../img/home.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 1;
  .components {
    position: fixed;
      .logo {
        width: 24vw;
        margin-left: 38vw;
        margin-top: 33vh;
      }

      .sticker {
        margin-top: 100px;
        margin-left: 45vw;
        img {
          width: 10vw;
        }
      }

      .arrow {
        margin-left: 48vw;
      }
      img {
        width: 4vw;
      }
   }
}

#slide-2 {
  position: relative;
  background-position: center center;
  background: red;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 2;
}


@media screen and (max-width : 480px){}



@media screen and (max-width : 320px){}



@media screen and (max-width : 768px){}